@media screen and (max-width: 600px) {
  .title {
    display: none;
  }
}
@media screen and (max-width: 1080px) {
  .title {
    font-size: 18px;
  }
}
@media screen and (min-width: 1080px) {
  .title {
    font-size: 25px;
  }
}
