@media screen and (max-aspect-ratio: 13/9) {
  .left {
    display: Block;
    height: 45vh;
    width: 90vw;
    margin-left: 5vw;
    margin-top: 0px;
    z-index: 0;
    background-color: #eee;
    vertical-align: top;
    overflow-y: scroll;
  }
}
@media screen and (min-aspect-ratio: 13/9) {
  .left {
    display: inline-block;
    height: 92vh;
    width: 48vw;
    z-index: 0;
    margin-left: 1vw;
    overflow-y: scroll;
    background-color: #eee;
    vertical-align: top;
  }
}
.user-id {
  font-size: 1vh;
  margin: 0px;
}
.name {
  margin: 0px;
  font-size: 2.1vh;
}
